:root {
  --fuenteBase: "Montserrat", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --colorPrincipal: #02142A;
  --colorSecundario: #394671;
  --colorDorado: #b48c5d;
  --colorBlanco: #DEDEDE;
  --colorBorde: #e6e6e6;
}


html, body, #root { font-family: var(--fuenteBase); }
button, input, select, textarea { font-family: inherit; }  /* ← clave */
h1,h2,h3,h4,h5,h6,p,label { font-family: inherit; }

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


